.booking-form {
  @include d-flex(wrap, row, center, stretch);
  width: 100%;
  background-color: #fff;
  border: 3px solid $brand-color-4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(#53C9FE, .44);
}

.booking-form__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, .2);
  cursor: default;
  z-index: 3;

  &--open {
    display: block;
  }
}

.booking-form__input-wrapper {
  position: relative;
  height: 60px;
  cursor: pointer;

  &:not(:last-of-type) {
    border-bottom: 1px solid #D6D6D6;
  }

  &::before,
  &::after {
    @include abs-pseudo;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &::before {
    top: 50%;
    left: 8px;
  }

  &::after {
    top: 50%;
    right: 8px;
  }

  &--hotel {
    width: 100%;

    &::before {
      background-image: url("../img/icon-pin.svg");
    }

    &::after {
      background-image: none;
    }
  }

  &--checkin {
    width: 50%;

    &::before {
      background-image: url("../img/icon-calendar.svg");
    }

    &::after {
      background-image: url("../img/icon-select-arrows.svg");
    }
  }

  &--checkout {
    width: 50%;

    &::before {
      background-image: url("../img/icon-calendar.svg");
    }

    &::after {
      background-image: url("../img/icon-select-arrows.svg");
    }
  }

  &--people {
    width: 100%;

    &::before {
      background-image: url("../img/icon-person.svg");
    }

    &::after {
      background-image: url("../img/icon-select-arrows.svg");
    }
  }

  &--open {

    &::before {
      background-image: url("../img/icon-pin-blue.svg");
      z-index: 6;
    }

    &::after {
      z-index: 6;
    }
  }
}

.booking-form__input {
  width: 100%;
  height: 100%;
  padding-right: 8px;
  padding-left: 40px;
  text-overflow: ellipsis;
  border: none;
  appearance: none;
  cursor: pointer;

  &::placeholder {
    color: #000;
    opacity: 1;
  }

  &--open {
    position: absolute;
    top: -2px;
    left: 50%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 3px solid $brand-color-4;
    transform: translateX(-50%);
    z-index: 5;
  }
}

select.booking-form__input option {
  @include reset;
}

.booking-form__submit-btn {
  @include reset;
  width: 100%;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .booking-form {
    flex-wrap: nowrap;
    align-items: center;
  }

  .booking-form__input-wrapper {
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
    border-bottom: none;

    &:not(:last-of-type) {
      border-right: 1px solid #D6D6D6;
    }

    &--hotel {
      &::after {
        background-image: url("../img/icon-crosshair.svg");
      }
    }

    &--checkout {
      display: none;
    }

    &--checkin,
    &--people {
      &::after {
        display: none;
      }
    }

    &--open {
      &::before {
        background-image: url("../img/icon-pin.svg");
      }
    }
  }

  .booking-form__input {
    width: 100%;

    &--open {
      left: calc(50% - 1px);
      width: calc(100% + 1px);
    }
  }

  .booking-form__submit-btn {
    width: 267px;
    height: 54px;
    margin-right: 4px;
  }
}

@media (min-width: $desktop-width) {
  .booking-form__input-wrapper {
    &--hotel {
      flex-basis: 420px;
    }
  }
}
