.header-top__wrapper {
  @include d-flex(nowrap, row, space-between, stretch);
  min-height: 75px;
  padding-right: 0;
  padding-left: 0;
  background-color: $brand-color-5;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.header-top__wrapper > div {
  border-left: 1px solid #53C9FE;
}

.header-top__logo-container {
  display: block;
  margin-right: auto;
}

.header-top__logo-img {
  &--desktop {
    display: none;
  }

  &--mobile {
    display: block;
  }
}

.header-top__logo-container {
  padding: 8px 15px 0 10px;
}

.header-top__phone-toggle {
  display: block;
  min-width: 65px;
  height: 100%;
  background-image: url("../img/icon-phone-header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px 28px;
}

.header-top__phone-container {
  // position: relative;
}

.header-top__phone-wrapper {
  display: none;

  &--open {
    @include d-flex(nowrap, column, center, center);
    position: absolute;
    top: 75px;
    left: 0;
    width: 100vw;
    min-height: 138px;
    background-color: $brand-color-4;
    z-index: 3;
  }
}

.header-top__phone {
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  padding-bottom: 20px;
}

.header-top__time {
  color: #fff;
  font-size: 14px;
}

.header-top__social {
  display: none;
}

.header-top__profile {
  @include d-flex(nowrap, row, center, center);
  min-width: 65px;
  height: auto;
}

.header-top__profile-img {
  @include d-flex(nowrap, row, center, center);
  width: 100%;
  height: 100%;
}

.header-top__mobile-menu-toggle {
  display: block;
  min-width: 65px;
  height: 100%;
  background-image: url("../img/icon-burger-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px 28px;
}

.header-top__mobile-menu {
  // display: none;

  &--open {
    @include list-reset;
    @include d-flex(nowrap, column, flex-start, stretch);
    // position: absolute;
    // top: 75px;
    // left: 0;
    // display: block;
    // width: 100vw;
    // background-color: $brand-color-4;
    // z-index: 3;
  }
}

.header-top__mobile-menu .main-menu__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid #56c6f8;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #2bb5f2;
  }
}

.header-top__mobile-menu .main-menu__item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 0 15px 10px;
  color: #fff;
  font-weight: bold;
}

.header-top__profile-name {
  display: none;
}

.header-top__mobile-menu-container {
  display: none;

  &--open {
    position: absolute;
    top: 75px;
    left: 0;
    display: block;
    width: 100vw;
    background-color: $brand-color-4;
    z-index: 3;
  }
}

.header-top__currency-switch {
  display: none;

  &--mobile {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .header-top__wrapper {
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: none;
  }

  .header-top__wrapper > div {
    border-left: none;
  }

  .header-top__logo-container {
    align-self: flex-start;
    // margin-right: 50px;
    margin-right: 0;
    padding: 10px 0 20px;
  }

  .header-top__logo-img {
    &--desktop {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }

  .header-top__phone-toggle {
    display: none;
  }

  // .header-top__phone-container {
  //   margin-right: 50px;
  // }

  .header-top__phone-wrapper {
    @include d-flex(nowrap, column, flex-start, flex-start);
    position: static;
    width: 237px;
    height: auto;
    min-height: 0;
    background-color: transparent;
  }

  .header-top__phone {
    margin-bottom: 5px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    color: $brand-color-1;
  }

  .header-top__time {
    font-size: 14px;
    color: $brand-color-1;
  }

  .header-top__currency-switch {
    display: block;
  }

  .header-top__profile {
    min-width: 0;
  }

  .header-top__profile-img {
    &--logged-out path {
      fill: $brand-color-6;
    }
  }

  .header-top__profile-img svg {
    box-sizing: content-box;
    padding: 3px;
    border-radius: 50%;
    border: 4px solid #ffb4a3;
  }

  .header-top__profile-img:hover .header-top__profile-name,
  .header-top__profile-img:focus .header-top__profile-name {
    color: $brand-color-6;
  }

  .header-top__mobile-menu-wrapper {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header-top__wrapper {
    justify-content: flex-start;
  }

  .header-top__logo-container {
    margin-right: 140px;
  }

  .header-top__phone-container {
    margin-right: 100px;
  }

  .header-top__social {
    @include d-flex(nowrap, row, space-between, center);
    width: 166px;
    margin-right: 100px;
  }

  .header-top__social-link {
    display: block;
    box-sizing: content-box;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;

    &--fb {
      background-image: url("../img/logo-fb.svg");
      background-size: 11px 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #1d5dbc;
      border-color: #D4DFFD;

      &:hover,
      &:focus {
        border-color: #1d5dbc;
      }
    }

    &--vk {
      background-image: url("../img/logo-vk.svg");
      background-size: 24px 13px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #2f93db;
      border-color: #CFE6F0;

      &:hover,
      &:focus {
        border-color: #2f93db;
      }
    }

    &--ig {
      background-image: url("../img/logo-ig.svg");
      background-size: 18px 18px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #bf64bc;
      border-color: #F0DCEF;

      &:hover,
      &:focus {
        border-color: #bf64bc;
      }
    }
  }

  // .header-top__currency-switch {
  //   margin-right: 78px;
  // }

  .header-top__profile {
    margin-left: auto;
  }

  .header-top__profile-name {
    display: inline;
    padding-left: 18px;
    color: $brand-color-1;
    font-weight: bold;
  }
}
