.header-bottom {
  display: none;
}

.header-bottom__menu {
  @include list-reset;
  @include d-flex(wrap, row, center, center);
}

@media (min-width: $tablet-width) {
  .header-bottom {
    @include d-flex(nowrap, row, center, stretch);
    min-height: 59px;
    background-color: $brand-color-4;
  }
}
